:root {
  --colorMain: #0f1b2b;

  --white: white;
  --black: black;
}

html {
  background: var(--white);
}

body {
  width: 1000px;
  margin: 25px auto;
}

h1 {
  font-size: 4rem;
  line-height: 1em;
  margin-bottom: 0.2em;
}

h2 {
  color: var(--colorMain);
  font-size: 2rem;
  margin: 5px 0 -10px;
}

.main {
  width: 100%;
}

.header {
  background: var(--colorMain);
  background-image: url("./images/react-logo.svg");
  height: 50vh;
  color: var(--white);
  padding: 15px 45px;
}

.menu {
  float: right;
}

.text-header {
  width: 375px;
}

.text-container {
  margin-top: 100px;
}

.text {
  width: 250px;
  filter: brightness(60%);
}

.header button {
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  color: var(--colorMain);
}

.strategies {
  padding: 150px 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row;
}

.item {
  margin-top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column;
  width: 175px;
}

.item img {
  width: 150px;
  height: 150px;
}

.item p {
  color: lightgrey;
  filter: brightness(60%);
}